#riddle_area .riddle_item {
    float: left;
    width: 18%;
    padding-right: 1%;
    border: 1px solid #CCCCCC;
    margin: 3px;
    padding: 3px;
    max-width: 1800px;

}
@media (min-width: 1251px) and (max-width: 1450px) {
    #riddle_area .riddle_item {
        width: 24%;
        padding-right: 1%;
    }
} /* 1024 */
@media (min-width: 921px) and (max-width: 1250px) {
    #riddle_area .riddle_item {
        width: 30%;
        padding-right: 1%;
    }
} /* 1024 */

@media (min-width: 721px) and (max-width: 920px) {
    #riddle_area .riddle_item {
        width: 32%;
        padding-right: 1%;
    }
} /* 1024 */

@media (max-width: 768px) {
    #riddle_area .riddle_item {
        width: 100%;
        padding-right: 0%;
    }
} /* 768 */


#riddle_area .riddle_item  h3 {
    height: 65px;
    overflow:hidden;
    cursor: pointer;
}

#riddle_area .riddle_trendings {
    position: relative;
}
#riddle_area .thumbnail {
    text-align:center;
}
#riddle_area .thumbnail > img {
    max-width: 100%;
}

.riddleplugin pre {
    font-family: inherit;
    word-wrap: break-word;
}

.riddleplugin .riddlelogo {
    float: right;
}
.riddleplugin .riddleheader {
    background-color: #35B5EB
}
.riddleheader {
    color: #FFFFFF;
    height: 90px;
    padding: 10px;
}
.riddleheader h2 {
    color: white;
    line-height: 90px;
}


#footer-thankyou{

    visibility: hidden;
}
#footer-upgrade{

    visibility: hidden;
}

#text_searchRiddle{

    width: 70%;
    height: 50px;
    max-width: 760px;
}

#sub_searchRiddle{

    width: 20%;
    height: 50px;
    max-width: 150px;
    min-width: 100px;
}

.riddle_element{

    width: 200px;
    height: 320px;
    float: left;
    margin: 10px;
}

#riddleSearch{
    max-width: 1100px;
    width: 90%;
    position: relative;
    left: -8px;
    margin-top: 30px;
    // margin-left: 40px;
}

.addedRiddle_{

    width: 200px;
    height: 180px;
    float: left; 
    padding: 10px;
    position: relative;
    left: -5px;
}
.addedRiddle_:hover{

    cursor: pointer;

}
.addedRiddle__:hover{

    cursor: pointer;

}
.addedRiddle__{

    width: 200px;
    height: 180px;
    float: left;
    margin: 20px;

    padding: 10px;
    position: relative;
    left: -5px;

}
.addedRiddle1__{

    width: 200px;
    height: 180px;
    float: left;
    margin: 20px;

    padding: 10px;
    position: relative;
    left: -5px;

}
.addedRiddlePost{

    width: 90%;
    height: 310px;
    float: left;
    border-bottom: 1px #CCCCCC solid;
    padding-bottom: 20px;
    padding-top: 30px;

}
.addedRiddlePost:last-child{
    border-bottom: 0px ;
}

.addedRiddlePost_{

    width: 90%;
    height: 310px;
    float: left;
    border-bottom: 1px #CCCCCC solid;
    padding-bottom: 30px;
    padding-top: 5px;

}
.addedRiddlePost1_{

    width: 90%;
    height: 310px;
    float: left;
    border-bottom: 1px #CCCCCC solid;
    padding-bottom: 30px;
    padding-top: 5px;

}
.addedRiddlePost1_:last-child{
    border-bottom: 0px ;

}

.addedRiddlePostForm{
    visibility: hidden;
    position: relative;
    left: 70px;

}

#rid_yourCatLeft{
    width: 300px;
    float: left;
    height: 100%;
}
#rid_yourCatRight{
    float: left;
    margin-top: 30px;
    height: 100%;
}



.rid_yourCatPost_{
    visibility: hidden;
    position: relative;
    width: 100%;
    margin: 10px;
    padding-bottom: 40px;
    top:-100px;
    left: 40px;
} .rid_yourCatPost1_{
    visibility: hidden;
    position: relative;
    width: 100%;
    margin: 10px;
    padding-bottom: 40px;
    top:-100px;
    left: 40px;
}

#rid_post{
    margin: 2px;
    //  padding-left: -2px;
}

#ridCatFormLeft{
    float: left;
    width: 200px;
    margin-top: -17px;

}
#ridCatFormRight{
    float: left;
    width: 300px;
    margin: 40px;
}


#rid_Container{
    //  width: 90%;
    margin-left: 20px;
}

#rid_Container:last-child{
    border-bottom: 0px;

}

#ridPrevStyle{
    position: relative;
    top: 20px;
    // left: -40px;
    background-color: transparent;
}
#ridCatFormBottom{
    position: relative;
    width: 700px;
    margin-top: 70px;
    //left: 80px;
    top: 20px;

}
#ridCatFormBottom1{
    position: relative;
    width: 700px;
    margin: 40px;
    top: 30px;
    left: -170px;

}

#textRidSearch{

    height: 60px;
    width: 180px;
}

#pageSelection{

    width: 130px;
    height: 28px;
    margin-right: 5px;
    margin-top: 5px;

}

#rid_selPageStyle{
    // left: 20px;
    position: relative;
}

#rid_addedCatStyle{
    text-align: center;
    margin: 10px;
    font-weight: bold;
}

#ridArrowRight{
    position: absolute;
    left: 230px;
    top: 60px;
}

#ridCatForm{
    position: relative;
    top: 80px;
    left: 40px;
}

#ridCatForm label{
    margin-right: 10px;
}

#ridSpan{
    margin-right: 40px;
    font-weight: 800;
}

td{
    padding-bottom: 7px;
}

#ridPopUp{
    position: fixed;
    left: 30%;
    top: 30%;
    border: 1px #CCCCCC solid;
    width: 480px;
    height: 300px;
    background-color: white;
    padding: 30px;
}

#ridVideoFrame{
    position: relative;
    margin-left: 10px;
    margin-top: 30px;
}

#rid_text_below{

    width: 75%;
    padding: 10px;
    max-width: 1035px;

    background-color: #dfdfdf;
}

#rid_text_below_{

    width: 100%;
    padding: 10px;
    max-width: 1035px;

    background-color: #dfdfdf;
}

#postSite{
    margin-top: 10px;
}

.rid_ContainerSubcategory{
    display: none;
    position: absolute;
    top: 75px;
}

.rid_ContainerSubcategory_{
    display: none;
    position: absolute;
    top: 22px;
}

.typeCatCat{
    float: left;
    margin-right: 10px;
    cursor: pointer;
}



.ridAddButtonHidden{
    display: none;
}



#CategWidth{position:relative; width:100%;}